.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  float: left;
 //  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
   // background-color: #ddd;
  color: black;
}






.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');







.search {
    &__container {
        padding-top: 18px;
    }
   
    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }
   
    &__input {
        width: 30%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
       
        color: #ffffff;
        background-color: transparent;
/*         background-image: url(http:mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http:www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
       
        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
       
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}

.credits {
    &__container {
        margin-top: 24px;
    }
   
    &__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
    }
   
    &__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;
       
        &:hover,
        &:focus {
            color: color(#ff8b88 blackness(+25%));
        }
    }
}

img {
 width: 100px;
 height: 50px;
}




// body{
//   font-family: 'Roboto Slab', serif;
 
//   margin: 0;
// }
// .wrapper{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   height: 100vh;
//   font-size: 5vw;
//   font-weight: 100;
// }


// a{
//   color: #000;
//   text-decoration: none;
//   span{
//     font-weight: 100;
//     transition: all .5s;
//     border-bottom: 1px solid;
//   }
//   span:nth-child(2){
//     transition-delay: .1s;
//   }
//   span:nth-child(3){
//     transition-delay: .2s;
//   }
//   span:nth-child(4){
//     transition-delay: .3s;
//   }
//   &:hover{
//     span{
//       font-weight: 700;
//     }
//     span:nth-child(4){
//       transition-delay: .3s;
//     }
//     span:nth-child(3){
//       transition-delay: .2s;
//     }
//     span:nth-child(2){
//       transition-delay: .1s;
//     }
//     span:nth-child(1){
//       transition-delay: 0s;
//     }
//   }
 
 
//   &.hover-shadow{
//     &:hover{
//       $color: #ddd;
//     text-shadow: 1px 1px 0px $color, 2px 2px 0px $color, 3px 3px 0px $color;
//     }
//   }
//   &.hover-color{
//     &:hover{
//       $color: #ddd;
//     //color: darkmagenta;
//     border-color: darkmagenta;
//     }
//   }
// }



// :root {
//   --mainColor: #ff9800;
// }

// body {
//   align-items: center;
//   display: flex;
//   font-family: 'Montserrat', sans-serif;
//   font-size: 2em;
//   height: 100vh;
//   justify-content: center;
// }

// a {
//   background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
// 	background-position: 0 100%;
// 	background-repeat: repeat-x;
// 	background-size: 3px 3px;
//   color: #000;
//   text-decoration: none;
// }

// a:hover {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
//   background-position: 0 100%;
//   background-size: auto 6px;
//   background-repeat: repeat-x;
//   text-decoration: none;
// }