
/* .contactBody{
  background-color: ;
  background-size: cover;
  background-attachment: fixed;
  height:900px;

} */
.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 42px;
  color: rgb(252, 252, 252);
}

#title-Tag-Line{
    font-size: 20px;
}
/* This will center the form */
.wrapper {
  width: 100%;
  height: 50%;
  margin: 5% auto 0 auto; 
}

/* form animation starts */
.form {
  background: #EBEBEB;
  text-align: center; 
  box-shadow: 0px 0px 20px 5px #AAA; 
  border-radius: 10px;  
  width: 45%; 
  /* height: 400px; */
  margin: 30px auto 0 auto;
  padding: 10px 10px;  
  /* animation: bounce 1.5s infinite; */
}

.name { 
  background-color: #DF1B76;
  border-bottom: 5px solid #B2175F;
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.name:hover{
  background-color: #DF1B76;
  border-bottom: 5px solid #B2175F;
  height:50px;
  width:400px;
}

.email {
  background-color: #7239C1;  
  border-bottom: 5px solid #502789;
  height:50px;
  width:300px;
  
}
.email:hover{
  background-color: #7239C1;  
  border-bottom: 5px solid #502789;
  height:50px;
  width:380px;
 
}
.message {   
  background-color: rgb(230, 108, 15);
  border-bottom: 5px solid rgb(195, 35, 17);
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.message:hover{
  background-color: #2DD7BB;
  border-bottom: 5px solid #2BB09A;
  height: 100px;
  width:370px;
}

.submit{
  border-radius:5px;
  padding:10px;
  background-color: #2DD7BB;  
  border: none;
  border-bottom: 5px solid #CB64B2; 
  transform: translateY(-120px); 

}

.submit:hover{
  border-bottom: 5px solid #CB64B2;  
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #AAA;  
}

/* Shadow to make it look like form is floating  */
.shadow{
  box-shadow: 0px 0px 60px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 50%; 
  margin: 50px auto 0 auto;
  padding: 0 20px;  
  animation: shadow 1.5s infinite;
}
.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: #EE78D1;  
  border: none;
  border-bottom: 5px solid #CB64B2; 
  margin-top: 150px; 

}



@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }

}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}

.real_name { 
  background-color: rgb(23, 178, 100);
  border-bottom: 5px solid rgb(23, 178, 100);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.real_name:hover{
  background-color: rgb(23, 178, 100);
  border-bottom: 5px solid rgb(30, 141, 86);
  height:50px;
  width:400px;
}


.aliases { 
  background-color: rgb(23, 104, 209);
  border-bottom: 5px solid rgb(23, 104, 209);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.aliases:hover{
  background-color: rgb(23, 104, 209);
  border-bottom: 5px solid rgb(7, 68, 117);
  height:50px;
  width:400px;
} 



.birth { 
  background-color: rgb(135, 23, 209);
  border-bottom: 5px solid rgb(166, 23, 209);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.birth:hover{
  background-color: rgb(125, 23, 209);
  border-bottom: 5px solid rgb(74, 6, 95);
  height:50px;
  width:400px;
} 


.race { 
  background-color: rgb(23, 135, 209);
  border-bottom: 5px solid rgb(23, 135, 209);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.race:hover{
  background-color: rgb(23, 135, 209);
  border-bottom: 5px solid rgb(14, 96, 151);
  height:50px;
  width:400px;
} 

.eye { 
  background-color: rgb(122, 209, 23);
  border-bottom: 5px solid rgb(122, 209, 23);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.eye:hover{
  background-color: rgb(122, 209, 23);
  border-bottom: 5px solid rgb(96, 168, 14);
  height:50px;
  width:400px;
}

.hair { 
  background-color: rgb(209, 23, 184);
  border-bottom: 5px solid rgb(209, 23, 184);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.hair:hover{
  background-color: rgb(209, 23, 184);
  border-bottom: 5px solid rgb(138, 14, 121);
  height:50px;
  width:400px;
}


.relatives {   
  background-color: rgb(230, 108, 15);
  border-bottom: 5px solid rgb(195, 35, 17);
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.relatives:hover{
  background-color: #2DD7BB;
  border-bottom: 5px solid #2BB09A;
  height: 100px;
  width:370px;
}


.affiliation {   
  background-color: rgb(15, 126, 230);
  border-bottom: 5px solid rgb(15, 126, 230);
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.affiliation:hover{
  background-color: rgb(10, 104, 192);
  border-bottom: 5px solid rgb(10, 107, 197);
  height: 100px;
  width:370px;
}



.occupation {   
  background-color: rgb(230, 108, 15);
  border-bottom: 5px solid rgb(195, 35, 17);
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.occupation:hover{
  background-color: #2DD7BB;
  border-bottom: 5px solid #2BB09A;
  height: 100px;
  width:370px;
}